services:
  - type: web
    name: symfony-app
    env: docker
    plan: starter
    envVars:
      - key: APP_ENV
        value: prod
      - key: APP_SECRET
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: your-database-name
          property: connectionString
      - key: PORT
        value: 10000